# exclude grafana folders
grafana/csv
grafana/plugins
grafana/png

# exclude mariadb
mariadb

# exclude nodered folders (node_modules is needed to prevent the need to install packages manually) --> better for testing
nodered/.npm
nodered/lib
nodered/dist-plugins