# exclude grafana, mariadb, nodered/.npm
grafana
mariadb
nodered/.npm
nodered/lib

# but include nodered-flows, k8s definitions and doc
!nodered/flows.json
!nodered/flows_cred.json
!nodered/settings.js
!k8s
!k8s/*
!.gitignore
!README.MD
